.totalDiv {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.btnDiv {
    max-height: 50px;
}

.createBtn {
    height: 34px;
    background-color: mediumseagreen;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 100px
}

.datatable {
    border-collapse: collapse;
}

.th {
    border: 1px solid grey;
    padding: 10px;
}

.td {
    border: 1px solid grey;
    padding: 10px;
}

.formDiv input::-webkit-inner-spin-button,
.formDiv input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formDiv {
    padding: 25px;
    box-shadow: 0px 0px 6px 1px lightgray;
    position: absolute;
    z-index: 2;
    background: #fff;
    left: 35%;
    top: 35%;
}