.loadingcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}

.loadingitem {
    display: grid;
    padding: 15px;
    border-radius: 15px;
    background-color: lightgray;
    box-shadow: 0px 0px 5px -1px lightgray;
}