.totalContainer {
    display: flex;
    width: 100%;
    /* min-height: 100vh; */
    height: 100vh;
    background-color: rgb(56, 92, 159);
}

.leftItem {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
}

.rightItem {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.insideDiv {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 130vh;
    justify-content: center;
}

/* .scroll-container {
    height: 1500px;
    padding: 20px;
    background-color: #f0f0f0;
    position: relative;
    overflow: auto;
  } */

.scroll-to-top {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.scroll-to-top.visible {
    display: block;
}

@media screen and (min-width: 340px) {
    .insideDiv {
        width: 90%;
    }
}

@media screen and (min-width: 769px) {
    .insideDiv {
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    .insideDiv {
        width: 60%;
    }
}

.typo {
    color: black;
    font-size: 14px;
}

.MuiTextField-root {
    margin: 10px;
}

.input {
    font-size: 14px;
    padding: 0px 20px;
    margin: 0px;
    border-radius: 20px;
    border: 1px solid grey;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 1px 1px grey; */
}

.input:focus-visible {
    border: 1px solid grey;
    box-shadow: 0px 0px 4px 1px grey;
    outline: 0;
}

.btn {
    height: 40px;
    font-size: 14px;
    padding: 0px 20px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    cursor: pointer;
    background-color: rgb(56, 92, 159);
    color: white;
    text-transform: capitalize;
    /* width: 100%; */
}

.btn:hover {
    background-color: rgb(56, 92, 159);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    /* width: 100%; */
}

.form-group span {
    margin-top: 5px;
    color: red;
    font-size: 12px;
    height: 1em;
}