.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* background-color: #d9e8eb; */
    background-color: #fff;
    border-radius: 20px;
}

.typo {
    color: black;
    font-size: 14px;
}

.MuiTextField-root {
    margin: 10px;
}

.input {
    font-size: 14px;
    padding: 0px 20px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    height: 40px;
    /* box-shadow: 0px 0px 1px 1px grey; */
}

.input:focus-visible {
    border: 1px solid grey;
    box-shadow: 0px 0px 4px 1px grey;
    outline: 0;
}

.btn {
    height: 40px;
    font-size: 14px;
    padding: 0px 20px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    cursor: pointer;
    background-color: rgb(56, 92, 159);
    color: white;
    text-transform: capitalize;
}

.btn:hover {
    background-color: rgb(56, 92, 159);
}