.container {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.table {
    border-collapse: collapse;
}

.thead {
    border: 1px solid grey;
    padding: 10px
}

.tdata {
    border: 1px solid grey;
    padding: 10px
}

.MuiDialog-paper {
    min-width: 45%;
}

@media screen and (max-width:480px) {
    .MuiDialog-paper {
        min-width: 90%;
    }
}

.dialogContainer {
    width: 100%;
    padding: 20px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}